.infinite-list-wrapper {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}
.infinite-list-wrapper .list-item {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8f3fe;
    color: #7dbcfc;
}
ul, menu, dir {
    border-radius: 10px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}