<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hunau.dao.QuestionDao">
    <insert id="addQuestion">
        INSERT INTO question ( user_id,title,content)VALUES(#{userId},#{title},#{content});
    </insert>
    <select id="getAllQuestions" resultType="edu.hunau.model.Question">
        SELECT * FROM question ORDER BY read_num desc  ;
    </select>
    <select id="getQuestionById" resultType="edu.hunau.model.Question">
        SELECT * FROM question where id =#{id}  ;
    </select>
    <delete id="deleteById">
        DELETE FROM question WHERE id = #{id};
    </delete>
    <update id="addReadNumById">
        UPDATE question SET read_num = read_num+1 WHERE  id= #{id};
    </update>
    <update id="addAnswerNumById">
        UPDATE question SET answer_num = answer_num+1 WHERE   id= #{id};
    </update>





</mapper>