<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hunau.dao.UserDao">

    <insert id="addUser">
        INSERT INTO user(username,password,tel)VALUES(#{username},#{password},#{tel});
    </insert>
<update id="update">
    UPDATE
        user
    <set>
            <if test="username != null and username !=''">
        username = #{username},
            </if>
        <if test="school != null and school !=''">
        school = #{school},
        </if>
        <if test="company != null and company !=''">
        company = #{company},
        </if>
        <if test="tel != null and tel !=''">
        tel = #{tel},
        </if>
        <if test="password != null and password !=''">
        password = #{password},
        </if>
        <if test="email != null and email !=''">
        email = #{email},
        </if>
        <if test="avatarPath != null and avatarPath !=''">
        avatar_path = #{avatarPath},
        </if>
        <if test="identity != null and identity != 0">
            identity= #{identity}
        </if>

    </set>

    WHERE #{id} = id;

</update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id};
    </delete>

</mapper>