<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hunau.dao.UserDao">

    <insert id="addUser">
        INSERT INTO user(username,password,tel)VALUES(#{username},#{password},#{tel});
    </insert>
<update id="update">
    UPDATE
        user
    SET
        username = #{username},
        school = #{school},
        company = #{company},
        tel = #{tel},
        password = #{password},
        email = #{email}

    WHERE id = id;

</update>
    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id};
    </delete>

</mapper>