<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hunau.dao.UserDao">

    <insert id="addUser">
        INSERT INTO user(username,password,tel)VALUES(#{username},#{password},#{tel});
    </insert>
    <insert id="likeAnAnswer">
        INSERT into user_answer_like (answer_id, user_id) values (#{answerId},#{userId});
    </insert>
    <update id="update">
    UPDATE
        user
    <set>
            <if test="username != null and username !=''">
        username = #{username},
            </if>
        <if test="school != null and school !=''">
        school = #{school},
        </if>
        <if test="company != null and company !=''">
        company = #{company},
        </if>
        <if test="tel != null and tel !=''">
        tel = #{tel},
        </if>
        <if test="password != null and password !=''">
        password = #{password},
        </if>
        <if test="email != null and email !=''">
        email = #{email},
        </if>
        <if test="avatarPath != null and avatarPath !=''">
        avatar_path = #{avatarPath},
        </if>
        <if test="identity != null and identity != 0">
            identity= #{identity}
        </if>

    </set>

    WHERE id = #{id};

</update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id};
    </delete>
    <delete id="deleteLikes">
        delete from user_answer_like where user_id=#{userId} and answer_id =#{answerId}
    </delete>
    <select id="getUserById" resultType="edu.hunau.model.User">
        select * from user where id = #{id}
    </select>
    <select id="getLikeStatus" resultType="java.lang.Object">
        select * from user_answer_like where user_id=#{userId} and answer_id =#{answerId}
    </select>
    <select id="getMyQuestions" resultType="edu.hunau.model.Question">
        select id,creat_time,content,title,read_num  from question where user_id=#{userId}
    </select>
    <select id="getMyLikedAnswers" resultType="edu.hunau.model.Answer">
        select answer.id, answer.creat_time, answer.content,answer.likes, answer.update_time, answer.question_id,answer.read_num ,question.title as 'question_name'from user_answer_like,answer,question where user_answer_like.user_id=#{userId} and user_answer_like.answer_id= answer.id and answer.question_id = question.id
    </select>
    <select id="getMyAnswers" resultType="edu.hunau.model.Answer">
        select answer.id, answer.creat_time, answer.content,answer.likes, answer.update_time, answer.question_id,answer.read_num,question.title as 'question_name' from answer,question where answer.user_id=#{userId} and answer.question_id = question.id
    </select>


</mapper>